@import "tailwindcss";

@layer utilities {
    @keyframes growWidth {
      0% {
        width: 264px;
      }
      100% {
        width: 320px;
      }
    }
  
    .animate-growWidth {
      animation: growWidth 1s ease-in-out forwards;
    }
   
  }
  @layer  components{
.tab{
  padding: 12px 20px 12px 20px;
  border-radius: 24px;
}
  }